<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Live Video Stream</title>
    <script>
        function reloadImage() {
            var img = document.getElementById('live_stream');
            var random_query = '?random=' + Math.random(); // Prevents caching
            img.src = "http://127.0.0.1:8080/yolov5_live_stream" + random_query;
        }

        window.onload = function() {
            setInterval(reloadImage, 1000); // Reload the image every 1 second
        }
    </script>
</head>
<body>
    <img id="live_stream" src="http://127.0.0.1:8080/yolov5_live_stream">
</body>
</html>